body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    position: relative;
}

.placeholders {
    position: absolute;
    top: 225px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.letter {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    margin: 0 5px;
}

.included-letters-container {
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.included-letters {
    font-size: 18px;
    text-align: center;
    color: darkgreen;
    width: 300px;
    padding: 5px;
}

.included-letters::placeholder {
    color: darkgreen;
    opacity: 0.5;
}

.excluded-letters-container {
    position: absolute;
    margin-top: 342px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.excluded-letters {
    font-size: 18px;
    text-align: center;
    color: red;
    width: 300px;
    padding: 5px;
}

.excluded-letters::placeholder {
    color: red;
    opacity: 0.4;
}

.word-list-container {
    margin-top: 400px; /* Ensure space below placeholders */
    width: 100%;
    display: flex;
    justify-content: center;
}

#wordList {
    display: grid;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    max-width: 80%;
}

#wordList li {
    font-size: 22px;
    /* font-weight: bold; */
    margin: 10px 0;
    text-align: left;
}